[run]
branch = True
source = .
omit =
    */tests/*
    */tools/*
    */venv/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if DEBUG
    if settings.DEBUG
    if settings.TESTING
ignore_errors = True
fail_under = 80
show_missing = True
skip_covered = False
