# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual env
.venv/
env/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Sensitive
config.yaml

# Build artifacts
build/
dist/
*.egg

# VSCode
.vscode/
